@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div>
    <img style="width:100%; height:70%; margin-bottom:16px;"  src="https://app.imgforce.com/images/user/KVe_1621358044_1.jpg" />
</div>

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-danger" asp-controller="Garages" asp-action="Index">Enter Garages</a>
    </div>

    <div class="col-md-6">
        <a class="btn btn-info" asp-controller="Cars" asp-action="Add">Enter Cars</a>
    </div>
</div>

